.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: rgba(213, 215, 222, 0.956);
  height: 55px;
}

.navbar-left h1 {
  margin: 0;
}

.navbar-center {
  flex-grow: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(95, 97, 95);
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(213, 215, 222, 0.956);
  color: var(--text);
}

.search-bar {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(213, 215, 222, 0.956);
  color:  rgba(37, 38, 41, 0.956);
  ;
}
.search-bar:focus {
  outline: none;
}

.navbar-center:focus-within {
  background-color: rgba(213, 215, 222, 0.956);
  ;
}
.search {
  padding: 0 12px 0 15px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

:root {
  --background: #ffffff;
  --text: #000000;
  --border: #cccccc;
  --input-background: #f0f0f0;
}

#dark {
  --background: #333333;
  --text: #ffffff;
  --border: #555555;
  --input-background: #555555;
}
