body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(213, 215, 222, 0.956);
  height: 100vh;
}

body.light {
  background-image: url('./assets/light.jpg');
}

body.dark {
  background-image: url('./assets/climate.jpg');
}
